<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>ActionController</servlet-name>
        <servlet-class>servlets.ActionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionController</servlet-name>
        <url-pattern>/do</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>servlets.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>ActionAccessFilter</filter-name>
        <filter-class>servlets.ActionAccessFilter</filter-class>
        <init-param>
            <param-name>admin</param-name>
            <!-- Это доступно только для админа -->
            <param-value>
                panel
            </param-value>
        </init-param>
        <init-param>
            <param-name>editor</param-name>
            <!-- Это доступно только для редактора и админа -->
            <param-value>
                panel
                psearch
                show_countries
                add_country_page
                add_country
                show_persons
                add_person_page
                add_person
                update_person_page
                update_person
                delete_person
            </param-value>
        </init-param>
        <init-param>
            <!-- Это доступно только для простых пользователей -->
            <param-name>user</param-name>
            <param-value>
                none
            </param-value>
        </init-param>
        <init-param>
            <!-- Это доступно только для зарегистрированных людей -->
            <param-name>common</param-name>
            <param-value>
                add_comment
                profile_page
                change_profile
                favorite_movies
                logout
                rating
                add_favorite_movie
                delete_favorite_movie
                psearch
            </param-value>
        </init-param>
        <init-param>
            <!-- Это доступно вообще для всех -->
            <param-name>outOfControl</param-name>
            <param-value>
                psearch
                registration_page
                registration
                registration_done
                login
                search_page
                full_search
                search
                movie
                person
                all_persons_on_film
                index
            </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ActionAccessFilter</filter-name>
        <url-pattern>/do</url-pattern>
    </filter-mapping>
</web-app>